/node_modules
/public/hot
/public/storage
/public/error_log
/storage/*.key
/storage/logs/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
*.swp
*.swo
*~
.DS_Store
Thumbs.db
composer.phar
eth_sistema.tar.gz
/cache
